html {
    scroll-behavior: smooth;
}



/*
.wrapper {
    width: 1440px;
}
header {
    width: 1440px;
}
*/


/* КОМПЬЮТЕР */

@media (min-width: 1440px){

.wrapper {
    width: 75%;
    /* height: 980px; */
    height: auto;
    margin: 0 auto;
}

                                    /* HEADER */

header {
    width: 100%;
    /* height: 130px; */
    height: auto;
    margin: 0px auto;
}

.dimastersImg {
    padding-top: 40px;
    width: 145px;
    height: auto;
}

.number {
    margin-top: 60px;
    margin-right: 90px;
    width: 15.83%;
    float: right;
    color: rgb(45,108,118);
    font-weight: 900;
    font-size: 20px;
}

                                        /* ASIDE LEFT */

.aside-left {
    /* width: 220px; */
    /* width: 15.27%; */
    margin-right: 50px;
    float: left;
}

nav {
    /* width: 200px; */
    width: 90.90%;
    color: rgb(45,108,118);
    font-weight: 900;
    font-size: 18px;
    padding-top: 65px;
}

li {
    padding: 3px;
}

                                        /* HEADINGS */

h2 {
    /* width: 1440px; */
    width: 100%;
    color: rgb(45,108,118);
    font-family: Tahoma;
    text-align: center;
    font-size: 133.33%;
}

h3 {
    /* width: 408px; */
    width: 100%;
    color: white;
    background-color:rgb(45,108,118);
    text-align: center;
    font-size:20px;
}

h4 {
    /* width: 273px; */
    width: 76.988636%;
    /* height: 18px; */
    height: auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    background-color: rgb(45,108,118);
    text-align: center;
    margin-bottom: 0px;
}

                                                    /* MAIN */

main {
    /* width: 832px; */
    width: 57.7%;
    float: left;
    text-align: center;
    overflow: hidden;
}

section {
    text-align: justify;
}

.mainarticles { 
    /* width: 408px; */
    width: 100%;
    /* height: 165px; */
    height: auto;
} 

.articles1 {
    float:left;
    /* width: 408px; */
    width: 49.038%;
}

.articles2 {
    float:right;
    /* width: 408px; */
    width: 49.038%;
}

.spbootsp {
    color: rgb(67, 0, 122);
    font-weight: 900;
    font-size: 18px;
}

.bootsp {
    border-radius: 100px;
}

.sphtml { 
    color: orange; 
    font-weight: 900; 
    font-size: 18px;
}

.spcss {
    color:rgb(78, 140, 255);
    font-weight: 900;
    font-size: 18px;
}

.spangular {
    color: red;
    font-weight: 900;
    font-size: 18px;
}

.languageimg {
    float: left;
    margin: 1px auto;
    padding: 2px 13px;
}

.bottomtext {
    /* width: 832px; */
    width: 98%;
    clear: both;
    padding-top: 10px;
    padding: 2px;
}

                                            /* ASIDE RIGHT */

.aside-right {
    /* width: 352px; */
    width: 24.4%;
    float: right;
    text-align: justify;
    margin: 0 auto;
}

.news {
    /* width: 273px; */
    width: 76.988636%;
    /* height: 48px; */
    height: auto;
    font-size: 1em;
}

.txtnews {
    /* width: 273px; */
    width: 76.988636%;
}

.txtnews1 {
    font-size:12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
}

.allNews {
    font-weight: 900;
    float: left;
    font-size: 20px;
}

                                            /* FOOTER */

footer {
    /* width: 1440px; */
    width: 100%;
    height: 70px;
    padding-top: 70px;
    clear: both;
    font-size: 15px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 900;
    color: rgb(45,108,118);
    margin: 0 auto;
}

.leftFoot {
    width: 33.3%;
    float: left
}

.middleFoot {
    width: 33.3%;
    float: left
}

.rightFoot {
    width: 33.3%;
    float: left
}
}







            /* ПЛАНШЕТ */

@media (max-width: 1439px){
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }

                                                /* HEADER */

    header {
        width: 100%;
        /* height: 130px; */
        height: auto;
        margin: 0px auto;
    }
    
    .dimastersImg {
        padding-top: 40px;
        width: 145px;
        height: auto;
    
    }
    
    .number {
        margin-top: 60px;
        margin-right: 90px;
        width: 15.83%;
        float: right;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 20px;
    }

                                                /* HEADINGS */

    h2 {
        /* width: 1440px; */
        width: 100%;
        color: rgb(45,108,118);
        font-family: Tahoma;
        text-align: center;
        font-size: 133.33%;
    }
    
    h3 {
        /* width: 408px; */
        width: 100%;
        color: white;
        background-color:rgb(45,108,118);
        text-align: center;
        font-size:20px;
    }
    
    h4 {
        /* width: 273px; */
        width: 76.988636%;
        /* height: 18px; */
        height: auto;
        font-family: 'Roboto';
        font-size: 15px;
        color: white;
        background-color: rgb(45,108,118);
        text-align: center;
        margin-bottom: 0px;
    }

                                                        /* ASIDE LEFT */
    
    .aside-left {
        /* width: 220px; */
        /* width: 15.27%; */
        margin-right: 50px;
        float: left;
    }
    
    nav {
        /* width: 200px; */
        width: 90.90%;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 18px;
        padding-top: 65px;
    }
    
    li {
        padding: 3px;
    }
    
                                                    /* MAIN */

    main {
        /* width: 832px; */
        width: 57.7%;
        float: left;
        text-align: center;
        overflow: hidden;
    }
    
    section {
        text-align: justify;
    }
    
    .mainarticles { 
        /* width: 408px; */
        width: 100%;
        /* height: 165px; */
        height: auto;
    } 
    
    .articles1 {
        float:left;
        /* width: 408px; */
        width: 49.038%;
    }
    
    .articles2 {
        float:right;
        /* width: 408px; */
        width: 49.038%;
    }
    
    .spbootsp {
        color: rgb(67, 0, 122);
        font-weight: 900;
        font-size: 18px;
    }
    
    .bootsp {
        border-radius: 100px;
    }
    
    .sphtml { 
        color: orange; 
        font-weight: 900; 
        font-size: 18px;
    }
    
    .spcss {
        color:rgb(78, 140, 255);
        font-weight: 900;
        font-size: 18px;
    }
    
    .spangular {
        color: red;
        font-weight: 900;
        font-size: 18px;
    }
    
    .languageimg {
        float: left;
        margin: 1px auto;
        padding: 2px 13px;
    }
    
    .bottomtext {
        /* width: 832px; */
        width: 98%;
        clear: both;
        padding-top: 10px;
        padding: 2px;
    }

                                                        /* ASIDE RIGHT */

    .aside-right {
        width: 24.4%;
        float: right;
        text-align: justify;
        margin: 0 auto;
    }
    
    .news {
        /* width: 273px; */
        width: 76.988636%;
        /* height: 48px; */
        height: auto;
        font-size: 1em;
    }
    
    .txtnews {
        /* width: 273px; */
        width: 76.988636%;
    }
    
    .txtnews1 {
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2px;
    }
    
    .allNews {
        font-weight: 900;
        float: left;
        font-size: 20px;
    }

                                                        /* FOOTER */
    
    footer {
        /* width: 1440px; */
        width: 100%;
        height: 70px;
        padding-top: 70px;
        clear: both;
        font-size: 15px;
        font-family: 'Roboto';
        text-align: center;
        font-weight: 900;
        color: rgb(45,108,118);
        margin: 0 auto;
    }
    
    .leftFoot {
        width: 33.3%;
        float: left
    }
    
    .middleFoot {
        width: 33.3%;
        float: left
    }
    
    .rightFoot {
        width: 33.3%;
        float: left
    }
}








            /* ПЛАНШЕТ ВЕРТИКАЛЬНЫЙ */


@media (max-width: 1279px) {
    .wrapper {
        width: 75%;
        margin: 0 auto;
    }

                                                    /* HEADER */

    header {
        width: 100%;
        /* height: 130px; */
        height: auto;
        margin: 0px auto;
    }
    
    .dimastersImg {
        padding-top: 40px;
        width: 145px;
        height: auto;
    
    }
       
    .number {
        margin-top: 60px;
        margin-right: 20px;
        width: 30.83%;
        float: right;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 18px;
    }

                                                                    /* HEADINGS */

    h2 {
        /* width: 1440px; */
        width: 100%;
        color: rgb(45,108,118);
        font-family: Tahoma;
        text-align: center;
        font-size: 133.33%;
    }
    
    h3 {
        /* width: 408px; */
        width: 100%;
        color: white;
        background-color:rgb(45,108,118);
        text-align: center;
        font-size:20px;
    }
    
    h4 {
        /* width: 273px; */
        width: 100%;
        /* height: 18px; */
        height: auto;
        font-family: 'Roboto';
        font-size: 15px;
        color: white;
        background-color: rgb(45,108,118);
        text-align: center;
        margin-bottom: 0px;
        /* padding: 2px 4px; */
    }

                                                            /* ASIDE LEFT */
    
    .aside-left {
        /* width: 220px; */
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    
    nav {
        /* width: 200px; */
        width: 90.90%;
        margin: 0 auto;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 18px;
        padding-top: 65px;
    }

    ul {
        text-align: center;
        white-space: nowrap;
        margin-left: 0;
        margin-right: 35px;
    }
    
    li {
        width: 15%;
        display: inline;
    }

                                                            /* MAIN */
    
    main {
        /* width: 832px; */
        width: 100%;
        float: left;
        text-align: center;
        overflow: hidden;
    }
    
    section {
        text-align: justify;
    }
    
    .mainarticles { 
        /* width: 408px; */
        width: 100%;
        /* height: 165px; */
        height: auto;
    } 
    
    .articles1 {
        float:left;
        /* width: 408px; */
        width: 49.038%;
    }
    
    .articles2 {
        float:right;
        /* width: 408px; */
        width: 49.038%;
    }
    
    .spbootsp {
        color: rgb(67, 0, 122);
        font-weight: 900;
        font-size: 18px;
    }
    
    .bootsp {
        border-radius: 100px;
    }
    
    .sphtml { 
        color: orange; 
        font-weight: 900; 
        font-size: 18px;
    }
    
    .spcss {
        color:rgb(78, 140, 255);
        font-weight: 900;
        font-size: 18px;
    }
    
    .spangular {
        color: red;
        font-weight: 900;
        font-size: 18px;
    }
    
    .languageimg {
        float: left;
        margin: 1px auto;
        padding: 2px 13px;
    }
    
    .bottomtext {
        /* width: 832px; */
        width: 98%;
        clear: both;
        padding-top: 10px;
        padding: 2px;
    }

                                                        /* ASIDE RIGHT */

    .aside-right {
        width: 100%;
        height: auto;
        text-align: justify;
        margin: 0 auto;
        float: left;
    }
    
    .news {
        /* width: 273px; */
        width: 100%;
        /* height: 48px; */
        height: auto;
        font-size: 1em;
    }
    
    .txtnews {
        /* width: 273px; */
        width: 100%;
    }
    
    .txtnews1 {
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2px;
    }
    
    .allNews {
        font-weight: 900;
        float: left;
        font-size: 20px;
    }

                                                    /* FOOTER */
    
    footer {
        /* width: 1440px; */
        width: 100%;
        height: 70px;
        padding-top: 70px;
        clear: both;
        font-size: 15px;
        font-family: 'Roboto';
        text-align: center;
        font-weight: 900;
        color: rgb(45,108,118);
        margin: 0 auto;
    }
    
    .leftFoot {
        width: 33.3%;
        float: left
    }
    
    .middleFoot {
        width: 33.3%;
        float: left
    }
    
    .rightFoot {
        width: 33.3%;
        float: left
    }
}







            /* ТЕЛЕФОН */


@media (max-width: 640px) {
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }

                                    /* HEADER */

    header {
        width: 100%;
        /* height: 130px; */
        height: auto;
        margin: 0px auto;
    }
    
    .dimastersImg {
        padding-top: 40px;
        width: 145px;
        height: auto;
    
    }
    
    .number {
        margin-top: 60px;
        margin-right: 10px;
        width: 30.83%;
        float: right;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 0.85em;
    }

                                                /* HEADINGS */
    
    h2 {
        /* width: 1440px; */
        width: 100%;
        color: rgb(45,108,118);
        font-family: Tahoma;
        text-align: center;
        font-size: 133.33%;
    }

    h3 {
        /* width: 408px; */
        width: 100%;
        color: white;
        background-color:rgb(45,108,118);
        text-align: center;
        font-size:20px;
    }
    
    h4 {
        /* width: 273px; */
        width: 100%;
        /* height: 18px; */
        height: auto;
        font-family: 'Roboto';
        font-size: 15px;
        color: white;
        background-color: rgb(45,108,118);
        text-align: center;
        margin-bottom: 0px;
    }

                                            /* ASIDE LEFT*/
    
    .aside-left {
        /* width: 220px; */
        width: 100%;
        margin-right: 50px;
        float: left;
    }
    
    nav {
        /* width: 200px; */
        /* width: 90.90%; */
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 18px;
        padding-top: 65px;
    }
    
    ul {
        text-align: center;
        white-space: nowrap;
        margin-left: 0;
        margin-right: 35px;
    }
    
    li {
        width: 15%;
        display: inline;
        font-size: 0.85em;
    }

                                            /* MAIN */
    
    main {
        /* width: 832px; */
        width: 100%;
        float: left;
        text-align: center;
        overflow: hidden;
    }
    
    section {
        text-align: justify;
    }
    
    .mainarticles { 
        /* width: 408px; */
        width: 100%;
        /* height: 165px; */
        height: auto;
    } 
    
    .articles1 {
        /* width: 408px; */
        width: 100%;
    }
    
    .articles2 {
        /* width: 408px; */
        width: 100%;
    }
    
    .spbootsp {
        color: rgb(67, 0, 122);
        font-weight: 900;
        font-size: 18px;
    }
    
    .bootsp {
        border-radius: 100px;
    }
    
    .sphtml { 
        color: orange; 
        font-weight: 900; 
        font-size: 18px;
    }
    
    .spcss {
        color:rgb(78, 140, 255);
        font-weight: 900;
        font-size: 18px;
    }
    
    .spangular {
        color: red;
        font-weight: 900;
        font-size: 18px;
    }
    
    .languageimg {
        float: left;
        margin: 1px auto;
        padding: 2px 13px;
    }
    
    .bottomtext {
        /* width: 832px; */
        width: 98%;
        /* float: left; */
        clear: both;
        padding-top: 10px;
        padding: 2px;
        padding-bottom: 45px;
    }

                                            /* ASIDE RIGHT */

    .aside-right {
        width: 100%;
        float: left;
        text-align: justify;
        margin: 0 auto;
    }
    
    .news {
        /* width: 273px; */
        width: 100%;
        /* height: 48px; */
        height: auto;
        font-size: 1.2em;
    }
    
    .txtnews {
        /* width: 273px; */
        width: 100%;
    }
    
    .txtnews1 {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2px;
    }
    
    .allNews {
        font-weight: 900;
        float: left;
        font-size: 22px;
    }
    
                                                /* FOOTER */

    footer {
        /* width: 1440px; */
        width: 100%;
        height: 70px;
        padding-top: 70px;
        clear: both;
        font-size: 15px;
        font-family: 'Roboto';
        text-align: center;
        font-weight: 900;
        color: rgb(45,108,118);
        margin: 0 auto;
    }
    
    .leftFoot {
        width: 33.3%;
        float: left
    }
    
    .middleFoot {
        width: 33.3%;
        float: left
    }
    
    .rightFoot {
        width: 33.3%;
        float: left
    }
}



/* ТЕЛЕФОН */


@media (min-width: 481px) and (max-width: 570px) {
    
                                    /* ASIDE LEFT */
    
    li {
        width: 10%;
        font-size: 0.65em;
    }

                                    /* HEADER */

    .number {
        width: 30%;
        font-size: 0.85em;
    }

                                    /* FOOTER */

    footer {
        font-size: 0.75em;
    }
}


/* ТЕЛЕФОН */


@media (max-width: 480px) {
                                    /* HEADER */

    .number {
        width: 30%;
        font-size: 0.75em;
    }

                                    /* ASIDE LEFT */

    .aside-left {
        /* width: 220px; */
        width: 85%;
        float: left;
        margin: 0 auto;
    }
    
    nav {
        /* width: 200px; */
        width: 90.90%;
        color: rgb(45,108,118);
        font-weight: 900;
        font-size: 22px;
        /* padding-top: 65px; */
    }
    
    ul {
        text-align: left;
        white-space: pre-line;
    }
    
    li {
        width: 50%;
        display: list-item;
        font-size: 0.85em;
    }
}